{% include "header.html" %}
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-sm-12 col-md-12  main">
          <h1 class="page-header"></h1>
          <h2 class="sub-header"></h2>
          <div class="alert alert-success" role="alert">{{ outNode }}</div>
		  </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<!-- Modal -->
    {% include "modal.html" %}
    {% include "footer.html" %}
